name: PR Automation

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

permissions:
  issues: write
  pull-requests: write
  contents: read

jobs:
  bot:
    name: Run Super Bot
    runs-on: ubuntu-latest
    steps:
      - name: Post PR comment
        uses: SanyaKor/pr-bot@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
